# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Gemini API Key
GEMINI_API_KEY=

# EmailJS Account 1 (Onboarding & Security)
VITE_EMAILJS_SERVICE_ID_1=service_b6488j9
VITE_EMAILJS_PUBLIC_KEY_1=zgN4Lpv0U3fF_gloh
VITE_EMAILJS_PRIVATE_KEY_1=Zc1p7L6VsdZ62vfX_3DyP
VITE_EMAILJS_TEMPLATE_WELCOME=template_bwhy6rp
VITE_EMAILJS_TEMPLATE_PASSWORD_RESET=template_kiuehl7

# EmailJS Account 2 (Transactions)
VITE_EMAILJS_SERVICE_ID_2=service_zv97hta
VITE_EMAILJS_PUBLIC_KEY_2=GAEcMDJOIDhKTWJDL
VITE_EMAILJS_PRIVATE_KEY_2=3H7vyLhfCHeQHqFBA5grt
VITE_EMAILJS_TEMPLATE_ORDER_CONFIRMATION=template_lcu6kap
VITE_EMAILJS_TEMPLATE_PAYMENT_SUCCESS=template_0n7482f

# EmailJS Account 3 (Notifications)
VITE_EMAILJS_SERVICE_ID_3=service_bj453bf
VITE_EMAILJS_PUBLIC_KEY_3=IqLbBC2sghTD20x61
VITE_EMAILJS_PRIVATE_KEY_3=b6zbbOuTGvTz0samq_Y6u
VITE_EMAILJS_TEMPLATE_STATUS_UPDATE=template_wd64qu4
VITE_EMAILJS_TEMPLATE_NEW_MESSAGE=template_slfd4gn

# Payment Gateways (Live Mode)
VITE_RAZORPAY_KEY_ID=rzp_live_RweAWH6eAOvhti
VITE_PAYPAL_CLIENT_ID=AeehvjzUkvO90Knpfs_yIO4FV1AIhGrcMKKNb3WgBHhsB3qrOU6x3jInHX1ns5AYk-5qg6gJZpvvpuHI
